footer{
    background-color: rgb(55, 61, 92);
    color: white;
    
}

footer .footer-content{
    display: flex;
    color: grey;
    flex-wrap: wrap;
    margin-bottom: px;
    
}

footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
    
   
}

footer .footer-content h2{
    color: white;
    font-size: 1.3em;
}

footer .footer-content .about h1 span {
    color: red;

}
footer .footer-content .contact span {
    display: block;
    font-size: 1.1em;
    margin: 8px;
    
    
}
@media (max-width: 840px){
    footer .footer-content .contact span  {
    font-size: 0.8em;
    }
}
@media (max-width: 548.66px){
    footer .footer-content .contact span  {
        font-size: 1.1em;
        }
}

footer .footer-content .about .social i {
    
    width: 45px;
    height: 41px;
    padding-top: 8px;
    
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid grey;
    transition: .3s;

}
footer .footer-content .about .social i:hover {
    
    color: white;
    border: 1px solid white;
    transition: .3s;

}

footer .footer-content .about .social a i {
    color: grey;
}


footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: 0.3s;
    color: grey;
    list-style: disc;
    
}


footer .footer-content .links ul a li {
    width: 18ch;
    
}

footer .footer-content .links ul a:hover {
    color: white;
    
    transition: all 1s;
}
.logo-text{
    color: thistle;
}

footer .footer-bottom{
    background-color: rgb(55, 61, 92);
    color: rgba(128, 128, 128, 0.699);
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

