footer{
    background-color: rgb(55, 61, 92);
    color: white;
}



footer .footer-content{
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}

footer .footer-content .footer-section {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

.about{
    padding-right: 20px;    
}

footer .footer-content h2{
    color: white;
    font-size: 1.3em;
}

footer .footer-content .about h1 span {
    color: #FC9C00;

}
footer .footer-content .contact span {
    display: block;
    font-size: 1.1em;
    margin: 8px;
    
    
}


footer .footer-content .about .social img {
    
    width: 45px;
    height: 45px;
    padding-top: 9px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    transition: .3s;
    filter: opacity(100%);

}


footer .footer-content .about .social img:hover {
    
    transition: .3s;
    
    filter: opacity(70%);
    
}



footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: 0.3s;
    color: white;
    list-style: disc;
    filter: opacity(100%);
}

footer .footer-content .links ul a li {
    width: 18ch;
    
}

footer .footer-content .links ul a:hover {
    filter: opacity(70%);
    transition: all 0.3s;
}
.logo-text{
    color: white;
}

footer .footer-bottom{
    background-color: rgb(55, 61, 92);
    color: white;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

.footer-section span a{
    text-decoration: none;
    color: white;
}

@media (max-width: 275px){

    footer .footer-content .links ul a{
        font-size: 1em;
    }


}

