

b{
    color: #FC9C00;
}

.front{
    height: 48vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #FCFDAF;
}
.image{
    flex: 50%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.image img{
    width: 40vw;
    height: auto;
}
.txtBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 50%;
    max-width: 45%;
    padding: 50px;
}

.txtBox p{
    padding-left: 70px;
    font-size: 3vw;
    padding-top: 10px;
}

.article{
    padding: 200px 40px 0px;
    background-color:  #fffae5;
    -webkit-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.article p{
    font-size: 1.7vw;
}
.txtbox2-middle{
    flex: 100%;
    padding: 10px;
}
.imgBox-middle{
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.imgBox-middle h1{
    font-size: 4vw
}
.article-middle h2{
    text-align: center;
}
.article-middle p{
    padding: 20px 230px;
}

.article-middle{
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 70px;
}
.article-left, .article-right{
    flex: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    padding-bottom: 70px;
    padding-top: 70px;
}
.article-right{
    flex-direction: row-reverse;
}
.txtbox2{
    flex: 50%;
    padding: 50px;
    max-width: 50%;

}

.imgBox{
    flex: 50%;
    max-width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
}


.imgBox img{
    width: auto;
    box-shadow: 10px 10px 20px grey;
}
.imgBox-middle{
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.img1{
    height: 25vw;
}
.img2{
    height: 25vw;
}
.img3{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 80vw;
    height: auto;
}

@media (max-width: 1000px){

    .front p{
        text-align: center;
    }
    .front{
        height: 100%;
        margin-top: 50px;
        padding: 10px 0;
    }
    .image{
        flex: 100%;
        max-width: 100%;
    }
    .image img{
        height: 100%;
        width: 90vw;
    }

    .article{
        padding:0;
    }
    .txtBox{
        flex: 100%;
        max-width: 100%;
        margin-left: 0;
        padding: 30px;
    }

    .txtBox p{
        font-size: 30px;
        padding-top: 10px;
        padding-left: 0;
    }

    .txtbox2{
        flex: 100%;
        max-width: 100%;
        padding: 20px;
    }
    .txtbox2 p{
        padding: 20px;
    }
    .article p{
        font-size: 20px;
    }
    .article-middle p{
        padding: 20px;
    }
    .article h2{
        text-align: center;
        font-size: 42px;
    }
    .imgBox{
        flex: 100%;
        max-width: 100%;
    }
    .imgBox-middle{
        max-width: 100%;
    }

    .img1{
        height: 240px;
    }
    .img2{
        height: 240px;
    }
    .img3{
        padding: 20px;
        height: 100%;
        width: 90vw;
    }
}

@media (max-width: 360px){/*<--was300px*/
    .img1{
        height: 150px;
        width: 200px
    }
    .img2{
        height: 150px;
        width: 200px;
    }
    .article p{
        font-size: 18px;
    }
    /*.img3{
        height: 140px;
    }*/
}

html, body{
    height: 100%;
    padding: 0px;
}

.page-wrapper{
    min-height: 100%;
}
