

b{
    color: #FC9C00;
}

.front{
    width: 100%;
    height: 400px;
    padding-top: 200px;
    background-color: #D2E4DF;
}

.txtBox{
    height: 100px;
    width: 100%;
    margin-left: 200px;
}

.txtBox p{
    font-size: 3vw;
    padding-top: 10px;
}

.article{
    height: 600px;
    background-color:  #EBF3F2;
}

.article p, h2{
    font-size: 1.7vw;
}

.article-left, .article-right{
    padding-bottom: 70px;
}
