@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

.header {
    background-color: #FCFDAF;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

  
.header li a{
    display: block;
    padding: 20px 20px;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    color: #1C322F;
}

.header li a:visited{
    display: block;
    padding: 20px 20px;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    color: #1C322F;
}
  
.header li a:hover{
    transition: 0.2s;
    font-size: 22px;
    background-color: #FCFDAF;
}

.header .menu-knapp:hover{
    transition: 0.2s;
    font-size: 22px;
    background-color: #FCFDAF;
}
  
.header .logo {
    display: block;
    float: left;
    margin-left: 2.5%;
    font-size: 28px;
    padding: 10px 20px;
    text-decoration: none;
    color: #1C322F;

}

.header .logo:hover{
    transition: 0.2s;
    font-size: 31.5px;
}

  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .nav-icon {
    background: #1C322F;
    height: 2px;
    display: block;
    position: relative;
    width: 18px;
}
  
.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
    background: #1C322F;
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}
  
.header .menu-icon .nav-icon:before {
    top: 7px;
}
  
.header .menu-icon .nav-icon:after {
    top: -7px;
}

.header label span{
    color: #EBF3F2;
    font-size: 0px;
}
  
.header .menu-knapp {
    display: none;
}
  
.header .menu-knapp:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-knapp:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
  
.header .menu-knapp:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
  
.header .menu-knapp:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}

.menu li a img{
    width: 39px;
    height: 21px;
    transition: 0.2s;
}


.menu li img:hover{
    width: 42px;
    height: 24px;
}

@media (min-width: 758px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu-icon {
        display: none;
      }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
}

