@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #F7FFDD;
    width: 100%;
}

.title{
    padding: 10px 0 10px 30px;
    margin: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 64px;
}

.item{
    padding: 50px 20px 0px 20px;
    flex: 100%;

    max-width: 30%;
    background-color: #DBA159;
}

.item h2{
    color: black;
    border-bottom: solid  3px;
}
.item a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    flex: 100%;
    max-width: 100%;
    width: 100%;

}

.item li{
    list-style: none;
    padding: 7.5px 0px;
}
.item ul{
    padding: 10px 0 20px 0;

}

.item2{
    flex: 100%;
    max-width: 70%;
    width: 100%;
    padding: 50px;
    -webkit-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);
    box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.75);

}
.section{
    background-color: #EBF3F2;
    padding: 10px;

}
.info h2{
    border-bottom: solid 1px;
    padding-bottom: 5px;
}
.info li{
    list-style: none;
    padding-top: 10px;
}
.info ul{
    padding-top: 10px;
}
.info img{
    height: 80px;
    width: auto;
    margin: 10px;
}
.info p{
    float: left;
    padding: 1px;
}



.flexBox{
    display: flex;
    align-content: stretch;
}

.txtBox{
    flex: 50%;
    padding-top: 50px;
}

.txtBox p{
    margin-bottom: 5%;

}

.imgBox{
    flex: 50%;
    padding-top: 20px;
}

#imgBoxIcons{
    background-color: rgb(55, 61, 92);;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:  0px 1px 20px -7px rgba(0,0,0,0.75);
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    
}
.imgBox i{
    width: 45px;
    height: 45px;
    
    
    text-align: center;
    
    font-size: 1.3em;
    transition: .3s;
    color: white;
    filter: opacity(70%);
    
}
@media (max-width: 768px) {
    .container{
        padding-top: 58px;
    }
    .item{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 50px;

    }
    .linkPlacement{
        flex: 100%;
        max-width: 100%;
    }
    .item2{
        max-width: 100%;
        padding: 50px;
    }
    .flexBox{
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .txtBox{
        width: 100%;
        padding: 10px;
    }
    .imgBox{
        flex: 100%;
        max-width: 100%;
    }
    .txtBox{
        flex: 100%;
        max-width: 100%;
    }


}

