@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #F7FFDD;
}

.title{
    padding: 10px 0 10px 30px;
    margin: 50px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: 1000px;
    padding-top: 62px;
}

.item{
    padding: 50px 20px 0px 20px;
    flex: 100%;

    max-width: 30%;
    background-color: #DBA159;
}

.item h2{
    color: #EBF3F2;
    border-bottom: solid  3px;
}
.item a{
    text-decoration: none;
    color: #EBF3F2;
    flex: 100%;
    max-width: 100%;
    width: 100%;

}
.item li{
    list-style: none;
}
.item ul{
    padding: 20px 0 20px 0;
}
.item2{
    flex: 100%;
    max-width: 70%;
    width: 100%;
    padding: 50px;

}
.section{
    background-color: #EBF3F2;
    padding: 10px;

}
.info h2{
    border-bottom: solid 1px;
    padding-bottom: 5px;
}
.info li{
    list-style: none;
    padding-top: 10px;
}
.info ul{
    padding-top: 10px;
}
.info img{
    height: 80px;
    width: auto;
    margin: 10px;
}
.info p{
    float: left;
    padding: 1px;
}



.flexBox{
    display: flex;
    align-content: stretch;

}

.txtBox{
    flex: 50%;
    padding-top: 50px;
}
.imgBox{
    flex: 50%;
    padding-top: 20px;
}
@media (max-width: 768px) {
    .item{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 50px;

    }
    .linkPlacement{
        flex: 100%;
        max-width: 100%;
    }
    .item2{
        max-width: 100%;
        padding: 50px;
    }

    .container{
        height: 700px;
    }

    .txtBox{
    width: 100%;
    padding: 10px;
    }
}
